.home {
	text-align: center;
	padding: 2rem;
}

.home p {
	margin: 0.25rem 0 0 0;
}

.booksBox {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 2rem;
}

.bookCard {
	background-color: var(--color-tertiary);
	padding: 1rem;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
	width: 21rem;
	box-sizing: border-box;
	margin: 0 auto;
}

.bookImage {
	width: 10rem;
	height: auto;
	border-radius: 4px;
}

.cartIcon {
	font-size: 2rem;
	color: var(--color-text);
	margin: 0.1rem 0 0 0;
	cursor: pointer;
}
