.userPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: var(--color-background);
	padding: 2rem;
}

.toggleButtons {
	display: flex;
	justify-content: center;
	margin-bottom: 2rem;
}

button {
	border: none;
	padding: 1rem 2rem;
	cursor: pointer;
	font-size: 1.1rem;
	border-radius: 8px;
	margin: 0 0.5rem;
	transition: background-color 0.3s ease;
}

.activeButton {
	background-color: var(--color-primary);
	color: white;
	font-weight: bold;
}

.inactiveButton {
	background-color: var(--color-tertiary);
	color: var(--color-text);
}

.formContainer {
	width: 100%;
	max-width: 500px;
	padding: 2rem;
	background-color: white;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}
