.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
	padding: 1rem 3rem;
	background-color: var(--color-primary);
	color: var(--color-text);
	@media (max-width: 768px) {
		flex-direction: column;
		padding: 1rem 1.5rem;
	}
}

.logo {
	display: flex;
	align-items: center;
	gap: 0.1rem;
	cursor: pointer;
}

.copyright {
	cursor: default;
}

.anchor:hover {
	transform: scale(1.05);
}
